<header class="header todo-list">
    <nav class="header__menu">
        <h1>To do list</h1>
        <ul>
            <li><a href="#">Editar</a></li>
            <li><a href="#">Duplicar</a></li>
            <li><a href="#">Mudar Status</a></li>
        </ul>
    </nav>
    <div id="liga_desliga">
        <i class="indicador"></i>
    </div>

    <button id="openLoginModalButton">Login</button>
</header>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalButton">&times;</span>
        <div id="modalContent">
            <!-- O conteúdo do login.html será exibido aqui -->
        </div>
    </div>
</div>
