<header class="header todo-list">
    <nav class="header__menu">
        <h1>To do list</h1>
        <ul>
            <li><a href="#">Editar</a></li>
            <li><a href="#">Duplicar</a></li>
            <li><a href="#">Mudar Status</a></li>
        </ul>
    </nav>
</header>
