/* Estilos do formulário */
#submitButton {
    margin-top: 10px; /* Espaçamento superior para separar do último campo */
    background-color: #663399; /* Cor roxa */
    color: #fff; /* Cor branca */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

#submitButton:hover {
    background-color: #ff66cc; /* Cor rosa */
    color: #fff; /* Cor branca */
}

input[type='text'],
input[type='date'],
select {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Estilo para os campos quando estão focados */
input[type='text']:focus,
input[type='date']:focus,
select:focus {
    border-color: #663399;
    box-shadow: 0px 0px 6px #663399;
}
