<div class="grid-container">
    <div class="grid-item">
        <div class="card">
            <form action="">
                <p id="user_id" class="nome" data-user="0rakul0"> </p
                ><div class="titulo_e_progress">
                    <input
                        type="text"
                        name="task"
                        id="task"
                        placeholder="Nome da task"
                        class="titulo_task"
                    />
                    <div class="opcional">
                        <select class="progress">
                            <option data-foo="E">Em espera</option>
                            <option data-foo="D">Desenvolvimento</option>
                            <option data-foo="H">Homologação</option>
                            <option data-foo="P">Produção</option>
                        </select>
                    </div>
                </div>
                <input
                    type="date"
                    name="task"
                    id="inicio"
                    class="input_texto"
                    class="data_inicio_task"
                />
                <div class="container">
                    <ul class="progressbar">
                        <li data-step="E"></li>
                        <li data-step="D"></li>
                        <li data-step="H"></li>
                        <li data-step="P"></li>
                    </ul>
                </div>
                <textarea
                    maxlength="250"
                    class="texto_task"
                    id="texto_task"
                ></textarea>
                <input
                    type="date"
                    name="atualiza"
                    id="atualiza"
                    class="data_atualiza_task"
                />
                <button type="submit" value="REGISTRAR">REGISTRAR</button>
            </form>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <form action="">
                <p id="user_id" class="nome" data-user="0rakul0"> </p
                ><div class="titulo_e_progress">
                    <input
                        type="text"
                        name="task"
                        id="task"
                        placeholder="Nome da task"
                        class="titulo_task"
                    />
                    <div class="opcional">
                        <select class="progress">
                            <option data-foo="E">Em espera</option>
                            <option data-foo="D">Desenvolvimento</option>
                            <option data-foo="H">Homologação</option>
                            <option data-foo="P">Produção</option>
                        </select>
                    </div>
                </div>
                <input
                    type="date"
                    name="task"
                    id="inicio"
                    class="input_texto"
                    class="data_inicio_task"
                />
                <div class="container">
                    <ul class="progressbar">
                        <li data-step="E"></li>
                        <li data-step="D"></li>
                        <li data-step="H"></li>
                        <li data-step="P"></li>
                    </ul>
                </div>
                <textarea
                    maxlength="250"
                    class="texto_task"
                    id="texto_task"
                ></textarea>
                <input
                    type="date"
                    name="atualiza"
                    id="atualiza"
                    class="data_atualiza_task"
                />
                <button type="submit" value="REGISTRAR">REGISTRAR</button>
            </form>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <form action="">
                <p id="user_id" class="nome" data-user="0rakul0"> </p
                ><div class="titulo_e_progress">
                    <input
                        type="text"
                        name="task"
                        id="task"
                        placeholder="Nome da task"
                        class="titulo_task"
                    />
                    <div class="opcional">
                        <select class="progress">
                            <option data-foo="E">Em espera</option>
                            <option data-foo="D">Desenvolvimento</option>
                            <option data-foo="H">Homologação</option>
                            <option data-foo="P">Produção</option>
                        </select>
                    </div>
                </div>
                <input
                    type="date"
                    name="task"
                    id="inicio"
                    class="input_texto"
                    class="data_inicio_task"
                />
                <div class="container">
                    <ul class="progressbar">
                        <li data-step="E"></li>
                        <li data-step="D"></li>
                        <li data-step="H"></li>
                        <li data-step="P"></li>
                    </ul>
                </div>
                <textarea
                    maxlength="250"
                    class="texto_task"
                    id="texto_task"
                ></textarea>
                <input
                    type="date"
                    name="atualiza"
                    id="atualiza"
                    class="data_atualiza_task"
                />
                <button type="submit" value="REGISTRAR">REGISTRAR</button>
            </form>
        </div>
    </div>
</div>
