<div class="grid-container">
    <div class="grid-item">
        <div class="card">
            <form action="">
                <p id="user_id" class="nome" data-user="0rakul0"> </p
                ><div class="titulo_e_progress">
                    <span id="task" class="titulo_task">Nome da task</span>

                    <div class="opcional">
                        <span id="info-task">E</span>
                    </div>
                </div>
                <span id="inicio-data" class="data_span">2023-08-28</span>
                <div id="card-oculto" class="">
                    <div class="container">
                        <ul class="progressbar">
                            <li data-step="E" class="active"></li>
                            <li data-step="D"></li>
                            <li data-step="H"></li>
                            <li data-step="P"></li>
                        </ul>
                    </div>
                    <textarea
                        maxlength="250"
                        class="texto_task"
                        id="texto_task"
                    ></textarea>
                    <span id="atualizacao-data" class="data_span"
                        >2023-08-28</span
                    >
                </div>
            </form>
        </div>
    </div>
</div>
