:root {
    --dark-grey: #9fabae;
    --light-grey: #dfe3e4;
    --green: #2ecc21;
    --red: #ff005a;
    --yellow: #fae500;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 0 0 10px;
}

.grid-item {
    background-color: #663399;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 320px;
    color: #fff;
}

.card form {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.card form .input_texto {
    border: none;
}

.card form p:before {
    content: attr(data-user);
    color: #fff;
    font-size: 1.2rem;
}

.titulo_e_progress {
    display: flex;
    justify-content: space-between;
}

.titulo_e_progress .titulo_task {
    display: flex;
    gap: 5px;
    width: 280px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    list-style: none;
}

.opcional {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.opcional span {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

.progress {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 120px;
    z-index: 1;
}

.opcional .progress.active {
    display: block;
}

.container ul {
    list-style: none;
    display: flex;
    width: 300px;
    margin-top: 60px;
    padding: 0;
}

.container ul li {
    position: relative;
    color: var(--dark-grey);
    width: 25%;
    text-align: center;
}

.container ul li:before {
    content: attr(data-step);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--light-grey);
    color: var(--dark-grey);
    position: absolute;
    top: -50px;
    left: calc(50% - 20px);
    z-index: 80;
}

.container ul li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: var(--light-grey);
    position: absolute;
    top: -32.2px;
    left: -50%;
}

.container ul li:first-child:after {
    width: 0;
}

.container ul li.active:before,
.container ul li.active:after,
.container ul li.active {
    background: var(--green);
    color: #fff;
}

.data_span {
    display: inline-block;
    width: 100px;
}

#card-oculto {
    display: none;
}

#card-oculto.active {
    display: block;
}

.texto_task {
    resize: vertical; /* Permite redimensionamento vertical */
    width: 50%;
    padding: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    font-size: 14px;
}

.atualizacao-data {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: var(--dark-grey);
}
