:root {
    --deep-blue: #181139;
    --night-blue: #142c4c;
    --midnight-blue: #06577b;
    --coral-red: #ff005a;
    --lemon-yellow: #fae500;
    --cyan-blue: #137aa7;
    --greey: #dfe2e8;
}
.content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--greey); /* Alterado para #d6dcdf */
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--midnight-blue); /* Alterado para #6596ae */
    width: 620px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--midnight-blue); /* Alterado para #06577b */
    text-decoration: none;
    cursor: pointer;
}
fieldset {
    margin-bottom: 10px;
    border-radius: 5px;
    background: var(--greey);
}
#tarefaForm .nomeTarefa {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#tarefaForm .nomeTarefa input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: var(--deep-blue);
}
#tarefaForm .origem {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#tarefaForm .origem select {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#tarefaForm .status {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#tarefaForm .status select {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#tarefaForm .mensagem {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#tarefaForm .mensagem textarea {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#tarefaForm .autor {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#tarefaForm .autor input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.btn-form-container-salvar {
    width: 100px;
    height: 30px;
    background: var(--midnight-blue); /* Alterado para #1282d0 */
    border-radius: 4px;
}
