<div class="container-esquerdo">
    <div class="vertical-menu">
        <ul class="lista-icones">
            <li>
                <a href="painel.html"><i class="fa-solid fa-house"></i></a>
            </li>
            <li>
                <a href="index.html"><i class="fa-solid fa-list"></i></a>
            </li>
        </ul>
    </div>
</div>
