#container-cards-si {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#card-sistema-interno {
    width: 30%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 10px;
    border-radius: 10px;
    background-color: #663399;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cccccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#estado {
    font-size: 20px;
    color: #663399;
    font-weight: bold;
}

.campo-arquivo {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.campo-input {
    color: #fff;
}

#ano-mes {
    width: 200px;
    background-color: #cccccc;
    text-align: end;
    font-size: 18px;
    color: #663399;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
}

#tipo-arquivo {
    width: 200px;
    background-color: #cccccc;
    text-align: end;
    margin: 3px 0 0 0;
    font-size: 14px;
    color: #663399;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    #ano-mes {
        width: 80px;
    }

    #tipo-arquivo {
        width: 80px;
    }
}

@media screen and (max-width: 1600px) {
    #ano-mes {
        width: 320px;
    }

    #tipo-arquivo {
        width: 320px;
    }
}
