.login-container {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}
#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login h1 {
    color: #d6dcdf;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin: 10px 0;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c9c9c9;
    color: #d6dcdf;
    font-size: 16px;
}
.form-group input:focus {
    outline: none;
    background-color: #d6dcdf;
}
#formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formLogin button {
    background-color: #137aa7;
    color: #d6dcdf;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

#formLogin button:hover {
    background-color: #1282d0;
}

#formLogin button[type='submit'] {
    margin-top: 15px;
}
