<main>
    <div class="content-button">
        <button id="btn">
            <i class="fa-solid fa-square-plus"></i>
        </button>
    </div>
</main>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
            nihil, quo, dolor reiciendis omnis animi sit atque quaerat
            repellendus autem libero adipisci aperiam dolorum dolores illo
            praesentium explicabo quas eveniet?</p
        >
    </div>
</div>
