#container-middle-output {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
  }

.grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    /* margin: 10px 3% 10px 5%; */
    margin: 0 0 0 100px;
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

/* Estilo para o botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.container-log-historico {
    width: 365px;
    color: #000;
    background-color: #fff;
    margin: 10px 5px 0 5px;
    border-radius: 5px;
}

.container-log-historico li {
    
    padding: 10px 0px 0px 20px;
    font-size: 1.0rem;
    font-weight: 400;
    color: #353d40;
    text-align: left;
    list-style-type: none;
}