:root {
    --deep-blue: #181139;
    --night-blue: #142c4c;
    --midnight-blue: #06577b;
    --coral-red: #ff005a;
    --lemon-yellow: #fae500;
    --cyan-blue: #137aa7;
        --greey: #dfe2e8;
}

.grid-item {
    position: relative;
    background-color: var(--cyan-blue);
    border: 1px solid var(--night-blue);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 320px;
    height: 380px;
    color: var(--greey);
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.card .input_texto {
    border: none;
}

.card h4:before {
    content: attr(data-user);
    color: #fff;
    font-size: 1.1rem;
}

.titulo_e_progress {
    display: flex;
    justify-content: space-around;
}

.titulo_e_progress .titulo_task {
    display: flex;
    gap: 5px;
    width: 260px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    list-style: none;
}

.opcional {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--night-blue);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.opcional span {
    color: var(--greey);
    font-size: 1.2rem;
    font-weight: 500;
}

.inicio-e-origem {
    display: flex;
    justify-content: space-between;
}

.inicio-e-origem p {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    padding: 0;
    margin: 5px 0 5px 0;
}

.progress {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 120px;
    z-index: 1;
}

.opcional .progress.active {
    display: block;
}

.container ul {
    list-style: none;
    display: flex;
    width: 300px;
    margin-top: 60px;
    padding: 0;
}

.container ul li {
    position: relative;
    color: var(--deep-blue);
    width: 25%;
    text-align: center;
}

.container ul li:before {
    content: attr(data-step);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--night-blue);
    color: var(--greey);
    position: absolute;
    top: -50px;
    left: calc(50% - 20px);
    z-index: 80;
}

.container ul li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: var(--night-blue);
    position: absolute;
    top: -34.2px;
    left: -50%;
}

.container ul li:first-child:after {
    width: 0px;
}

.container ul li.active:before{
    background: var(--midnight-blue);
    color: var(--greey);
}
.container ul li.active:after{
    background: var(--midnight-blue);
}
.container ul li.active{
    color: var(--midnight-blue);
}
.container ul li.atual:before{
    background: var(--night-blue);
    color:var(--greey);
}
.container ul li.atual:after{
    background: var(--night-blue);
}
.container ul li.atual{
    color: var(--night-blue);
}

#card-oculto {
    display: none;
}

#card-oculto.active {
    display: flex;
    flex-direction: column;
}

.texto_task {
    align-content: start;
    resize: vertical;
    width: 80%;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid var(--night-blue);
    border-radius: 5px;
    font-size: 14px;
}

.atualizacao-data {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: var(--deep-blue);
}

.card p {
    display: block;
    align-self: center;
    padding-left: 10px;
}
#meuBotaoExcluir,
#meuBotao{
    cursor: pointer;
}