:root {
    --dark-grey: #181139;
    --light-grey: #142c4c;
    --green: #06577b;
    --red: #ff005a;
    --yellow: #fae500;
    --purple: #137aa7; /* Cor de fundo dos grid-items */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 0 0 10px;
}

.grid-item {
    background-color: var(--purple); /* Alterado para a variável --purple */
    border: 1px solid var(--light-grey); /* Alterado para a variável --light-grey */
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 320px;
    color: #fff;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.card .input_texto {
    border: none;
}

.card h4:before {
    content: attr(data-user);
    color: #fff;
    font-size: 1.1rem;
}

.titulo_e_progress {
    display: flex;
    justify-content: space-around;
}

.titulo_e_progress .titulo_task {
    display: flex;
    gap: 5px;
    width: 260px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    list-style: none;
}

.opcional {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.opcional span {
    color: #fcfcfc;
    font-size: 1.2rem;
    font-weight: 500;
}

.inicio-e-origem {
    display: flex;
    justify-content: space-between;
}

.inicio-e-origem p {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    padding: 0;
    margin: 5px 0 5 0;
}

.progress {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 120px;
    z-index: 1;
}

.opcional .progress.active {
    display: block;
}

.container ul {
    list-style: none;
    display: flex;
    width: 300px;
    margin-top: 60px;
    padding: 0;
}

.container ul li {
    position: relative;
    color: var(--dark-grey);
    width: 25%;
    text-align: center;
}

.container ul li:before {
    content: attr(data-step);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--light-grey);
    color: #fcfcfc;
    position: absolute;
    top: -50px;
    left: calc(50% - 20px);
    z-index: 80;
}

.container ul li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: var(--light-grey);
    position: absolute;
    top: -34.2px;
    left: -50%;
}

.container ul li:first-child:after {
    width: 0px;
}

.container ul li.active:before{
    background: var(--green);
    color: #fff;
}
.container ul li.active:after{
    background: var(--green);
}
.container ul li.active{
    color: var(--green);
}
.container ul li.atual:before{
    background: var(--light-grey);
    color: #fff;
}
.container ul li.atual:after{
    background: var(--light-grey);
}
.container ul li.atual{
    color: var(--light-grey);
}

#card-oculto {
    display: none;
}

#card-oculto.active {
    display: flex;
    flex-direction: column;
}

.texto_task {
    align-content: start;
    resize: vertical; /* Permite redimensionamento vertical */
    width: 80%;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    font-size: 14px;
}

.atualizacao-data {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: var(--dark-grey);
}

.card p {
    display: block;
    align-self: center;
    padding-left: 10px;
}
