.fa-house {
    font-size: 24px;
}

.fa-list {
    font-size: 24px;
}

.fa-square-plus {
    font-size: 36px;
}

.fa-i {
    font-size: 24px;
    color: #07182e;
}

.icons-circle {
    border-radius: 50%;
    background-color: #99ccff;
    padding: 10px 15px 10px 15px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.icons-circle:hover {
    background-color: #ffddaa;
    transition: 0.5s;
}
